<header>
    <nav class="navbar navbar-light" style="background-color: #e78718;">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="/assets/images/pizza-logo.png" alt="" width="40" height="30" class="rounded-circle"> Delicious Pizza!</a>
            <div class="d-flex">
                <button routerLink="/login" class="btn btn-outline-dark" type="submit">Login</button>


                <button class="btn btn-outline-dark mx-3" type="submit" routerLink="/cart-page">Cart</button>
            </div>
        </div>
    </nav>
</header>