.navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

header {
    border-bottom: 1px solid green;
    /* position: relative; */
    width: 100%
}

button {
    font-weight: bold;
    border-width: 2px;
}